<footer class="main__footer">
  Made by martink-rsa
  <a href="https://github.com/martink-rsa/" title="View my GitHub profile">
    <img class="img__icon--small" src="/assets/img/GitHub-Mark-32px.png" />
  </a>
</footer>