<header class="main__header">
  <h1 class="main__header--heading">{{title}}</h1>
  <nav class="main__header--nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/help">Help</a></li>
    </ul>
  </nav>
</header>